{% assign page = include.page %}
{% assign site = include.site %}
{% assign menu = site.menus.main %}
<footer class="footer">
    <div class="footer__container">
        <a href="/">

            {% include picture.html image=site.logos.light cssClass='footer__logo' alt='Planty logo' %}

        </a>


        <ul class="footer__nav">
            {% for item in menu %}
            <li class="footer__nav-item">
                <a href="{{ item.url | relative_url }}" {% if item.title == page.title %}class="footer__nav-link footer__nav-link--active" {% else %}class="footer__nav-link"{% endif %}>
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <br>

        <!-- социал  -->




        <div class="footer-social">
          <!-- <h6 class="ftr-hdr">Подписывайтесь</h6> -->
          <ul>
            <!-- <li>
              <a href="https://www.facebook.com/art.com" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="24" height="24" alt="Like us on Facebook" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png">
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/108089796661280870153" title="Google+" onclick="_gaq.push(['_trackSocial', 'GooglePlus', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="24" height="24" alt="Follow us on Google+" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/gplus.png">
              </a>
            </li>
            <li>
              <a href="https://pinterest.com/artdotcom/" target="_blank">
                <img width="24" height="24" alt="Follow us on Pinterest" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/pin-badge.png">
              </a>
            </li> -->
            <li>
              <a target="_blank" href="http://instagram.com/artdotcom/">
                <img width="24" height="24" alt="Follow us on Instagram" src="/images/instaSocial.svg">
              </a>
            </li>
             <!-- <li>
              <a href="https://www.twitter.com/artdotcom" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                <img width="67" alt="Follow us on Twitter" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/twitter.png">
              </a>
            </li> -->
          </ul>
        </div>

        <div class="footer__legal-notice"> © 2019 Cookson. Политика конфиденциальности.<br>Создание сайтов <a class="footer__legal-notice" href="https://jstack.ru">jstack.ru</a></div>
    </div>


</footer>
