{% assign page = include.page %}
{% assign site = include.site %}
{% assign menu = site.menus.main %}
<footer class="footer">
    <div class="footer__container">
        <a href="/">
            {% include picture.html image=site.logos.light cssClass='footer__logo' alt='Planty logo' %}
        </a>
        <ul class="footer__nav">
            {% for item in menu %}
            <li class="footer__nav-item">
                <a href="{{ item.url | relative_url }}" {% if item.title == page.title %}class="footer__nav-link footer__nav-link--active" {% else %}class="footer__nav-link"{% endif %}>
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="footer__legal-notice"></div>
        <div class="footer-social footer__legal-notice">
          <!-- <h6 class="ftr-hdr">Подписывайтесь</h6> -->
          <ul>

            <li>
              <a target="_blank" href="http://instagram.com/cook-son34/?hl=en">
                <img width="24" height="24" alt="Follow us on Instagram" src="/images/instaSocial.svg">
              </a>
            </li>

          </ul>
        </div>

    </div>


</footer>
<div id="copyright">
    <div class="container">
        <div class="col-md-12">

            <p class="pull-left"></p>

            <p class="pull-right">
              <div class="fftr footer-copyright text-center py-3"> © 2019 Cookson. Политика конфиденциальности. <br> Создание сайтов <a target="_blank" href="https://jstack.ru">jstack.ru.</a>
                 Theme by <a target="_blank" href="https://snipcart.com">snipcart</a>
              </div>
            </p>
        </div>
    </div>
</div>
