{% assign page = include.page %}
{% assign site = include.site %}
{% assign menu = site.menus.main %}

<footer class="footer">
    <div class="footer__container">
        <a href="/">

            {% include picture.html image=site.logos.light cssClass='footer__logo' alt='Planty logo' %}

        </a>

        <ul class="footer__nav">
            {% for item in menu %}
            <li class="footer__nav-item">
                <a href="{{ item.url | relative_url }}" {% if item.title == page.title %}class="footer__nav-link footer__nav-link--active" {% else %}class="footer__nav-link"{% endif %}>
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <!-- социал  -->
        <div class="footer-social">
          <!-- <h6 class="ftr-hdr">Подписывайтесь</h6> -->
          <ul>

            <li>
              <a target="_blank" href="http://instagram.com/cook-son34/?hl=en">
                <img width="24" height="24" alt="Follow us on Instagram" src="/images/instaSocial.svg">
              </a>
            </li>

          </ul>
        </div>
        <br>


        <div class= "container-fluid">
            <div class="position-fixed border bg-info" style="bottom:10px; right:5px;">
              Создание сайтов <a href="https://jstack.ru">jstack.ru.</a> theme by <a href="https://snipcart.com">snipcart</a>
           </div>
           <p class="position-fixed border bg-info" style="bottom:10px; right:5px;">Info.. 1</p>
           <p>Info.. 2</p>
           <p>Info.. 3</p>
           <p>Info.. 4</p>
           <p>Info.. 5</p>
        </div>

        <div class="footer__legal-notice"> © 2019 Cookson. Политика конфиденциальности.<br> <br>

        </div>
    </div>
Создание сайтов <a href="https://jstack.ru">jstack.ru.</a> theme by <a href="https://snipcart.com">snipcart</a>

</footer>
