<!doctype html>
<html lang="ru">
    <head>

        <title>
            {{ page.title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ site.snipcart_css }}" />
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="icon" type="image/png" href="{{ 'images/favicon.png' | relative_url }}">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
        <!-- <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="YzI3ZjYxZTEtZDY1My00YTBlLWFiYzItMDUzMzI2ZjkxNTBlNjM2OTA0MzEyODg0MzI2NzU4" id="snipcart"></script>

        <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" /> -->
    </head>
    <body>

        {{ content }}
        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55798282, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55798282" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
        <script src="{{ 'js/main.js' | relative_url }}"></script>
        <script src="{{ site.snipcart_js }}"  defer> </script>

        <script type="text/javascript" src="/locales/ru.js" defer></script>

        <div hidden id="snipcart" data-api-key="{{ site.snipcart_api_key }}" data-config-add-product-behavior="none" >
          <cart-header title="Planty">
            <div class="root">
              <header class="snipcart-cart-header" v-if="!loading">
                <close-cart-action class="snipcart-cart-header__close-button snipcart-modal__close">
                  <icon class="snipcart-modal__close-icon snipcart__icon--blue-light" name="back-arrow"></icon>
                  <span class="snipcart-modal__close-title snipcart__font--std">
                    {% raw %}{{ $localize('actions.continue_shopping') }}{% endraw %}
                  </span>
                </close-cart-action>

                <h3 class="snipcart-cart-header__title snipcart__font--black snipcart__font--secondary" v-if="title">
                  <img src="{{ site.logos.dark.optimized | relative_url }}" alt="">
                </h3>

                <div class="snipcart-cart-header__count snipcart__font--secondary snipcart__font--bold">
                  <icon name="cart" class="snipcart-cart-header__icon snipcart__icon--blue-dark"></icon>
                  {% raw %}{{ itemsCount }}{% endraw %}
                </div>
              </header>
              <header class="snipcart-cart-header" v-else>
                <close-cart-action class="snipcart-modal__close">
                  <icon class="snipcart-modal__close-icon snipcart__icon--blue-light" name="back-arrow"></icon>
                  <span class="snipcart-modal__close-title snipcart__font--std">
                    {% raw %}{{ itemsCount }}{% endraw %}
                  </span>
                </close-cart-action>
              </header>
            </div>
          </cart-header>
          <checkout section="header">
            <div class="root">
              <div class="snipcart-layout__header">
                <header class="snipcart-modal__header snipcart-modal__header--fixed">
                  <close-cart-action class="snipcart-modal__close">
                    <icon name="back-arrow" class="snipcart-modal__close-icon snipcart__icon--blue-light"
                      alt="actions.close_cart"></icon>
                    <span class="snipcart-modal__close-title snipcart__font--std">
                      {% raw %}{{ $localize('actions.continue_shopping') }}{% endraw %}
                    </span>
                  </close-cart-action>

                  <img src="{{ site.logos.dark.optimized | relative_url }}" alt="" class="snipcart-modal__logo">

                  <div class="snipcart-modal__header-summary">
                    <div
                      class="snipcart-modal__header-summary-title snipcart__font--large snipcart__font--secondary snipcart__font--bold"
                      @click.prevent="showSummary">
                      <icon name="cart" class="snipcart__icon--blue-dark"></icon>
                      <span>
                        {% raw %}{{ total | money(cart.currency) }}{% endraw %}
                      </span>
                      <media name="mobile, tablet">
                        <icon :name="summaryIcon" class="snipcart__icon--blue-dark snipcart__icon--medium"></icon>
                      </media>
                    </div>
                    <cart-summary class="snipcart-cart-summary--small" v-if="summaryVisible" @close="closeSummary"></cart-summary>
                  </div>
                </header>
              </div>
            </div>
          </checkout>
          <billing section="bottom">
              <fieldset class="snipcart-form__set">
                <div class="snipcart-form__field">
                  <snipcart-label class="snipcart__font--tiny" for="Comments">
                    Номер телефона для связи!
                  </snipcart-label>
                  <snipcart-input required name="Comments"></snipcart-input>

              </fieldset>
            </billing>
            <billing section="bottom">
                <fieldset class="snipcart-form__set">
                  <div class="snipcart-form__field">
                    <snipcart-label class="snipcart__font--tiny" for="Comments">
                      Дополнительная  информация(кол-во персон). Пожелания...
                    </snipcart-label>
                    <snipcart-input name="Comments"></snipcart-input>

                </fieldset>
              </billing>
  </div>

  <payment section="top">
            <div>
                <p>
                    <snipcart-checkbox name="privacy-policy" required></snipcart-checkbox>
                    <snipcart-label for="privacy-policy">I have read and agree to the&nbsp;<a href="#">Privacy Policy</a></snipcart-label>
                </p>
            </div>
        </payment>

          <!-- <billing section="bottom">
      <fieldset class="snipcart-form__set">
          <div class="snipcart-form__field">
              <snipcart-label class="snipcart__font--tiny" for="vatNumber">
                  текстдлятекстатекстдляадреса432
              </snipcart-label>
              <snipcart-input name="vatNumber"></snipcart-input>

      </fieldset>
  </billing> -->





        <script type="text/javascript">

          // Snipcart.api.configure('show_continue_shopping', true);
          // Snipcart.api.cart('show_cart_automatically', false);

          // document.addEventListener('snipcart.ready', () => {
          // Snipcart.api.cart.update({
          //   try {
          //       await Snipcart.api.cart.update({
          //           email: 'john.doe@example.com',
          //           billingAddress:{
          //               name: 'John Doe'
          //           }
          //       });
          //
          // }  catch (error) {
          //     console.log(error);
          // });

          // try {
          //     await Snipcart.api.cart.update({
          //         email: 'john.doe@example.com',
          //         billingAddress:{
          //             name: 'John Doe'
          //         }
          //     });
          // } catch (error) {
          //     console.log(error);
          // }

          // second variant

          // Snipcart.api.configure('show_continue_shopping', true);
          // Snipcart.execute('config', 'show_continue_shopping', true);
          // document.addEventListener('snipcart.ready', () => {
          // Snipcart.api.cart.update({
          //
          //   billingAddress: {
          //       fullName: "Test",
          //       email: "affffyo@domain.com",
          //       postalCode: "Test13"
          //   }
          // });
          // }  catch (error) {
          //     console.log(error);
          // });

          document.addEventListener('snipcart.ready', () => {
          Snipcart.api.cart.update({
            email: "введитеСвой@email.для_чека",
            billingAddress: {
                // fullName: "Довольный клиент",
                // firstName: null,
                name: "Любимый клиент",
                // company: null,
                address1: "Укажите адрес",
                // address2: "адрес",
                // fullAddress: "чччч" + "-чччч",
                city: "доставки",
                country: "для связи",
                postalCode: "vlz34",
                province: "и телефон: +7 ",

                phone: null,
                // vatNumber: null
            },

          });
          });
Snipcart.execute('config', 'show_continue_shopping', true);
        </script>
        <script>
    document.addEventListener('snipcart.ready', function() {
        Snipcart.api.session.setLanguage('ru', {
            "payment": {
              "methods": {
                    "deferred_payment": "Оплата при доставке"
                },
                "form": {
                    "deferred_payment_title": "Оплата при получении",
                    "deferred_payment_instructions": "При получении вы расплатитесь"
                }
            }
        });
    });
</script>



    </body>
</html>
